codebasics [youtube](https://www.youtube.com/watch?v=A9c7hGXQ5A8) [github](https://github.com/codebasics/py/tree/master/pandas/15_ts_date_range)

In [2]:
import pandas as pd

df = pd.read_csv(
    "dow30/WMT.csv",
    index_col='Date',
    usecols=['Date', 'Adj Close'],
    parse_dates=True
    ).rename(
    columns={'Adj Close': 'WMT'}
    )

print(df.head(10))

                  WMT
Date
2010-01-04  42.711647
2010-01-05  42.286343
2010-01-06  42.191837
2010-01-07  42.215462
2010-01-08  42.002800
2010-01-11  42.695908
2010-01-12  43.105453
2010-01-13  43.325985
2010-01-14  42.695908
2010-01-15  42.278473

In [6]:
df.asfreq('H', method='pad')
#df.asfreq('D', method='pad')
#df.asfreq('W', method='pad')
#df.asfreq('W-SUN', method='pad')
#df.asfreq('W-MON', method='pad')

                            WMT
Date
2010-01-04 00:00:00   42.711647
2010-01-04 01:00:00   42.711647
2010-01-04 02:00:00   42.711647
2010-01-04 03:00:00   42.711647
2010-01-04 04:00:00   42.711647
2010-01-04 05:00:00   42.711647
2010-01-04 06:00:00   42.711647
2010-01-04 07:00:00   42.711647
2010-01-04 08:00:00   42.711647
2010-01-04 09:00:00   42.711647
2010-01-04 10:00:00   42.711647
2010-01-04 11:00:00   42.711647
2010-01-04 12:00:00   42.711647
2010-01-04 13:00:00   42.711647
2010-01-04 14:00:00   42.711647
2010-01-04 15:00:00   42.711647
2010-01-04 16:00:00   42.711647
2010-01-04 17:00:00   42.711647
2010-01-04 18:00:00   42.711647
2010-01-04 19:00:00   42.711647
2010-01-04 20:00:00   42.711647
2010-01-04 21:00:00   42.711647
2010-01-04 22:00:00   42.711647
2010-01-04 23:00:00   42.711647
2010-01-05 00:00:00   42.286343
2010-01-05 01:00:00   42.286343
2010-01-05 02:00:00   42.286343
2010-01-05 03:00:00   42.286343
2010-01-05 04:00:00   42.286343
2010-01-05 05:00:00   42.286343
...                         ...
2019-07-14 19:00:00  114.599998
2019-07-14 20:00:00  114.599998
2019-07-14 21:00:00  114.599998
2019-07-14 22:00:00  114.599998
2019-07-14 23:00:00  114.599998
2019-07-15 00:00:00  114.980003
2019-07-15 01:00:00  114.980003
2019-07-15 02:00:00  114.980003
2019-07-15 03:00:00  114.980003
2019-07-15 04:00:00  114.980003
2019-07-15 05:00:00  114.980003
2019-07-15 06:00:00  114.980003
2019-07-15 07:00:00  114.980003
2019-07-15 08:00:00  114.980003
2019-07-15 09:00:00  114.980003
2019-07-15 10:00:00  114.980003
2019-07-15 11:00:00  114.980003
2019-07-15 12:00:00  114.980003
2019-07-15 13:00:00  114.980003
2019-07-15 14:00:00  114.980003
2019-07-15 15:00:00  114.980003
2019-07-15 16:00:00  114.980003
2019-07-15 17:00:00  114.980003
2019-07-15 18:00:00  114.980003
2019-07-15 19:00:00  114.980003
2019-07-15 20:00:00  114.980003
2019-07-15 21:00:00  114.980003
2019-07-15 22:00:00  114.980003
2019-07-15 23:00:00  114.980003
2019-07-16 00:00:00  114.760002

[83521 rows x 1 columns]

In [10]:
import pandas as pd
import numpy as np

if 0:
    index = pd.date_range(start='1/1/2017', end='5/1/2017', freq='B')
elif 1:
    index = pd.date_range(start='1/1/2017', periods=30, freq='B')
    
s = pd.Series(np.random.randint(1, 10, len(index)), index=index)
s

2017-01-02    5
2017-01-03    6
2017-01-04    7
2017-01-05    6
2017-01-06    6
2017-01-09    3
2017-01-10    2
2017-01-11    8
2017-01-12    2
2017-01-13    9
2017-01-16    9
2017-01-17    3
2017-01-18    3
2017-01-19    7
2017-01-20    7
2017-01-23    2
2017-01-24    1
2017-01-25    1
2017-01-26    3
2017-01-27    3
2017-01-30    3
2017-01-31    8
2017-02-01    3
2017-02-02    3
2017-02-03    9
2017-02-06    1
2017-02-07    3
2017-02-08    2
2017-02-09    1
2017-02-10    3
Freq: B, dtype: int64