[codebasics](https://www.youtube.com/watch?v=h4hOPGo4UVU&t=1s) [github](https://github.com/codebasics/py/blob/master/pandas/9_merge/pandas_merge.ipynb)

- pd.merge - 공동의 칼럼들 (혹은 공동의 칼럼들중 지정한 칼럼들) 을 이용, 데이타 통합 

- join method - 인덱스를 이용, 데이타 통합

In [15]:
import pandas as pd

if 0:
    df1 = pd.DataFrame({
        "city": ["new york", "chicago", "orlando"],
        "temperature": [21, 14, 35]
    }).set_index('city')
    df2 = pd.DataFrame({
        "city": ["chicago", "new york", "orlando"],
        "humidity": [65, 68, 75]
    }).set_index('city')
elif 0:
    df1 = pd.DataFrame({
        "city": ["new york", "chicago", "orlando", "baltimore"],
        "temperature": [21, 14, 35, 38]
    }).set_index('city')
    df2 = pd.DataFrame({
        "city": ["chicago", "new york", "san diego"],
        "humidity": [65, 68, 71]
    }).set_index('city')
elif 1:
    df1 = pd.DataFrame({
        "city": ["new york", "chicago", "orlando", "baltimore"],
        "temperature": [21, 14, 35, 38],
        "humidity": [65, 68, 71, 75]}).set_index('city')
    df2 = pd.DataFrame({
        "city": ["chicago", "new york", "san diego"],
        "temperature": [21, 21, 35]
    }).set_index('city')
elif 1:
    df1 = pd.DataFrame({
        'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
        'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
    }).set_index('employee')
    df2 = pd.DataFrame({
        'name': ['Jake', 'Lisa', 'Sue', 'Bob'],
        'salary': [70000, 80000, 120000, 90000]
    }).set_index('name')
    
print(df1)
print()
print(df2)
print()

if 0:
    df3 = df1.join(df2)
elif 0:
    #df3 = df1.join(df2, how='inner')
    df3 = df1.join(df2, how='outer')
    #df3 = df1.join(df2, how='left') # default
    #df3 = df1.join(df2, how='right')
elif 1:
    #df3 = df1.join(df2, how='inner')
    df3 = df1.join(df2, how='outer',  lsuffix='_left', rsuffix='_right')
    #df3 = df1.join(df2, how='left') # default
    #df3 = df1.join(df2, how='right')
    
print(df3)

           temperature  humidity
city
new york            21        65
chicago             14        68
orlando             35        71
baltimore           38        75

           temperature
city
chicago             21
new york            21
san diego           35

           temperature_left  humidity  temperature_right
city
baltimore              38.0      75.0                NaN
chicago                14.0      68.0               21.0
new york               21.0      65.0               21.0
orlando                35.0      71.0                NaN
san diego               NaN       NaN               35.0

In [21]:
import pandas as pd

start = "2017-01-01"
end = "2017-12-31"
dates = pd.date_range(start, end)
df = pd.DataFrame(index=dates)

df_temp = pd.read_csv(
    "data/dow30/WMT.CSV",
    index_col="Date",
    usecols=['Date', 'Adj Close', 'Volume']).rename(
    columns={'Adj Close': 'WMT', 'Volume': 'Vol'})

df = df.join(df_temp).dropna()
#df = df_temp.join(df)
print(df.head())
print(df.tail())

                  WMT         Vol
2017-01-03  66.929802  10473200.0
2017-01-04  67.319717   7918000.0
2017-01-05  67.465942   7099200.0
2017-01-06  66.539886   9491100.0
2017-01-09  66.978539   8660600.0
                  WMT        Vol
2017-12-22  98.209999  5478700.0
2017-12-26  99.160004  4295900.0
2017-12-27  99.260002  5140800.0
2017-12-28  99.400002  9763900.0
2017-12-29  98.750000  7144300.0